@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Satisfy&display=swap');

$sansSerifFont: 'Do Hyeon', sans-serif;
$cursiveFont: 'Satisfy', cursive;

$secondaryFont: #00BEC4;
$primaryFont: #fefefe;
$borderGradient:  linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);