@import 'typography';
@import 'animations';

.header {
    background: url(../images/hero-img.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.7);
        z-index: -1;
    }
    
    .nav {
    grid-area: nav;
    
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding: 1rem 1rem 0;

            .logo {
                color: #fefefe;
            }

            .nav-bar {
                display: flex;
                justify-content: space-evenly;
                list-style-type: none;

                .nav-item {
                    margin-right: 1rem;
                    margin-bottom: 0;

                    &:last-child {
                        margin-right: 0;
                    }

                    .nav-link {
                        text: {
                            transform: uppercase;
                            decoration: none;
                        }
                        color: $primaryFont;

                        &:hover {
                            background: $borderGradient;
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

                        .active {
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                width: inherit;
                                height: 3px;
                                background: $borderGradient;
                            }
                        }
                    }
                }
            }
        }
    }

    .hero {
        color: $primaryFont;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;

        .name {
            font: {
                size: 3rem;
                weight: 700;
                family: $sansSerifFont;
            }
            letter-spacing: .5rem;
            position: relative;
            animation: fade 1s forwards;
                             

            &::before {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                width: 200px;
                height: .3rem;
                background-image: $borderGradient;
                border-radius: 10px;
            }
        }

        .titles {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;
            margin-left: 0;
            animation: fade 1s .6s forwards,
                             slide-up 1s .6s forwards;
            overflow: hidden;

            .title {
                margin-right: 2rem;
                color: $secondaryFont;
                position: relative;
                text-transform: uppercase;
                font: {
                    size: 1.3rem;
                    family: $cursiveFont;
                }

                &::after {
                    content: "*";
                    position: absolute;
                    top: 15%;
                    left: 105%;
                    color: $primaryFont;
                    font-size: 1.5rem;
                    animation: beat 2s forwards infinite;
                }

                &:last-child::after {
                    content: '';
                }
            }
        }

        .socials {
            display: flex;
            align-items: center;
            margin-top: 1rem;

            .social-icon {
                font-size: 2rem;
                background: $borderGradient;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-right: 1rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}