@import 'typography';
@import 'animations';

.header {
    color: $primaryFont;
    border-bottom: thin solid rgba(0,0,0,0.25);
    padding: 1rem 0 0;

    .container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .theme-toggle {
        height: 24px;
    }
    
    .links {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        .logo {
            z-index: 10;
            padding: 0;
            margin-right: 1rem;

            img {
                margin: 0;
            }
        }
        .social-links {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
            margin-left: 0;

            .social-icon {
                margin-bottom: 0;
                margin-right: .5rem;

                :last-child {
                    margin-right: 0;
                }
                
                svg {
                    fill: $secondaryFont;
                    width: 1rem;
                    height: 1rem;
                }
            }

        }
    }

    .nav {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
        box-shadow: 0 -4px 10px 0 rgba(0,0,0,0.25);

        &-bar {
            list-style-type: none;
            margin-left: 0;
            display: flex;
            justify-content: space-evenly;
            align-items: baseline;

            .nav-item {

                .nav-link {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-transform: uppercase;
                    font-style: normal;
                    font-size: .7rem;

                    .nav-icon {
                        width: 1.5rem;
                        height: 1.5rem;
                        fill: $secondaryFont;
                        margin-top: 1rem;
                    }

                    &.active {
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: .3rem;
                            background-color: $secondaryFont;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 750px) {
   
    .header {
        padding: 2rem 0 0;

        .flex {
            display: flex;
            justify-content: space-between;
        }        

        .nav {
            position: relative;
            width: initial;
            height: initial;
            left: 0;
            visibility: visible;
            background-color: unset;
            margin-right: 1rem;
            box-shadow: none;

            &-bar {
                flex-direction: row;
                justify-content: space-evenly;
                margin-bottom: .1rem;
                background-color: unset;

                .nav-item {
                    margin-right: 1rem;
                    margin-bottom: 0;
                    display: block;
                    animation: none;

                    &:last-child {
                        margin-right: 0;
                    }

                    .nav-link {
                        font-size: .9rem;
                        font-weight: unset;
                        font-style: normal;
                        padding: .5rem 0 0;

                        &:hover, &.active {
                            color: $secondaryFont;
                        }

                        &.active::after {
                            top: 100%;
                        }

                        .nav-icon {
                            display: none;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }

}