@import "typography";
@import "animations";


.project-cards {
  list-style-type: none;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-evenly;

  .project-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .project-image {
      border-right: .2rem solid $secondaryFont;
      width: 100%;
      overflow: hidden;
      margin-bottom: 0;
    }
  
    .project-details {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .project-title {
        padding: 0 1rem;
        margin: 1rem 0 .5rem;
        font-family: $Gayathri;
        letter-spacing: .2rem;
        color: $secondaryFont;
        height: 20%;
      }
  
      .project-description {
        padding: 0 1rem;
        line-height: 1.5rem;
        font-size: .9rem;
        flex-grow: 1;
      }

      .project-links {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem ;
        width: 100%;
        
        a {
          margin-right: 2rem;
          height: 1.5rem;
          transition: all .2s ease;
  
          &:hover {
            transform: scale(1.2);
            
            svg {
              fill: white;
            }
          }
  
          &:last-child {
            margin-right: 0;
          }
  
          svg {
            width: 1.5rem;
            height: 1.5rem;
            fill: $secondaryFont;
          }
        }
      }
    }

  }
}

@media screen and (min-width: 600px) {
  .project-cards {
    .project-card {
      flex-direction: row;

      .project-image {
        width: 30%;
      }

      .project-details {
        width: 70%;
        align-items: initial;

        .project-links {
          justify-content: initial;
        }
      }
    }
  }
}