@import 'typography';
@import 'animations';


.dark, .light {
    transition: all .6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.light {
    background-color: white;
    color: #111010;
    
    .project-card {
        box-shadow: 0 4px 8px 0 $boxShadowLight;
    }
}

.dark {
    background-color: rgb(0, 6, 10);
    color: $primaryFont;

    .project-card {
        box-shadow: 0 4px 8px -2px rgb(59, 55, 55);
    }
}

a{
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    color: $secondaryFont;
    &:focus {
        outline: none;
        border: thin solid $primaryFont;
    }
}

.btn {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

    :focus {
        outline: none;
    }
}

.container {
    width: 90%;
    margin: auto;
}

.page {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .page-header {
        width: 100%;
        margin-top: 1rem;
    
        .page-title {
            font-family: $Satisfy;
            color: $secondaryFont;
            margin-bottom: 1rem;
            text-align: center;
        }
    
        .page-description {
            text-align: justify;
        }
    }
    
    section {
        margin: 0 0 2rem;

        .section-title {
            font-family: $Satisfy;
            color: $secondaryFont;
            margin: 0 0 1rem;
            text-align: left;
        }
    }
}


@media screen and (min-width: 600px) {
    .container {
        width: 80%;
        
        .page-header {
            .page-title {
                text-align: center
            }
            .page-description {
                font-size: 1.2rem;
            }
        }

        section {
            .section-title {
                text-align: center;
            }
        }
    }    
}

@media screen and (min-width: 900px) {
    .container {
        width: 70%;
    }
}